---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test
permissions: { contents: read }

on:
  workflow_dispatch: {}
  pull_request:
    branches: ["main"]
    paths:
      - ".github/workflows/test.yaml"
      - scripts/test.sh
      - "**.go"
      - "go.mod"
      - "go.sum"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup mise
        uses: jdx/mise-action@e79ddf65a11cec7b0e882bedced08d6e976efb2d # v3.6.2

      - name: Run Tests
        run: bash scripts/test.sh
