---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test
permissions: { contents: read }

on:
  workflow_dispatch: {}
  pull_request:
    branches: ["main"]
    paths:
      - ".github/workflows/test.yaml"
      - scripts/test.sh
      - "**.go"
      - "go.mod"
      - "go.sum"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup mise
        uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0

      - name: Run Tests
        run: bash scripts/test.sh
